<h1>Email List</h1>

  <div class="container">
    <% flash.each do |key, value| %>
        <div class="<%=key%>"><%= value %></div>
      <% end %>
    <%= yield %>
  </div>


   <div><%= @contacts.length %> people to be emailed</div>
  <table class="table">
        <tr>
          <th>Email</th>
          <th>Last Donated</th>
        </tr>
        <% @contacts.each do |contact| %>
          <tr>
          <td><%= contact.Email %></td>
          <td><%= contact.Last_Donation_Date__c %></td>
          </tr>
        <% end %>
      </div>  
   </table>


<div id="send_email_section">
   <div class="row">
  <%= form_tag(send_email_excitement_page_path, :method => "post") do %>
        <div>
          <%= label_tag(:email_address, "Email Address") %>
          <%= text_field_tag(:email_address) %>
        </div>
      </div>
      <div>
        <div>
          <%= submit_tag("Send Test Email", id: "send_email", :class => 'btn btn-primary' ) %>       
        </div>
      </div>
  <% end %>
</div>