<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<h1><%= @excitement_page.title %></h1>
<p><%= @excitement_page.intro_text %></p>
<hr>

<div id="community">

    <h2>Where we helped <%= @excitement_page.community_section.community.name %> </h2>
    <section class="community-map">
        <p>Map goes here</p>
    </section>    

   <!--  <div id="map-canvas"></div> -->
   <!--  <section class="community-map">
        <p><%= @excitement_page.community_section.community %></p>
    </section> -->    

    <section class="community-photo">
        <%= image_tag show_image_photo_url(@excitement_page.community_section.photo) ,:size => '260x180'%>
    </section>    
    <p class="community-text"><%= @excitement_page.community_section.community_text%> </p>
    </div> 
<hr>

<div id="testimonials">
    <h2>Who you helped</h2>
    <section class="testimonial-photo">        
        <%= image_tag show_image_photo_url(@excitement_page.testimonial.photo) ,:size => '260x180'%>
        <p><%= @excitement_page.testimonial.photo_caption %></p>
    </section>
    <section class="testimonial-text">
        <p><%= @excitement_page.testimonial.text_block %></p>
        <span>- <%= @excitement_page.testimonial.speaker_name %>,</span>
        <p><%= @excitement_page.testimonial.speaker_role %></p>
    </section>
</div> 
<hr>

<h2>Books you helped us send</h2>
<% if @excitement_page.books %>
  <div class="book-list-container">
    <% @excitement_page.books.each do |book| %>
      <div class="book-container">
        <div class="book-image"><%= image_tag show_image_photo_url(book.photo) ,:size => '260x180' if book.photo %></div>
        <div class="book-name"><strong><%= book.name %></strong></div>
      </div>
    <% end %>
  </div>
<% end %>
<hr>

<h2><%= @excitement_page.summary_text %></h2>
<a href="https://www.indigenousliteracyfoundation.org.au/payment/donate">
    <p class="donate">DONATE</p>
</a>
<br>
<br>

<%= link_to 'Edit', edit_excitement_page_path(@excitement_page), { :class => "btn btn-default" } %> |
<%= link_to 'Back', excitement_pages_path, { :class => "btn btn-default" } %>

<% unless @excitement_page.community_section.community.latitude.nil? || @excitement_page.community_section.community.longitude.nil? %>
    

    <script type="text/javascript">
    $(function() {
      function initialize() {

        var mapOptions = {
          width: '400px',
          height: '300px',
          center: new google.maps.LatLng(<%= @excitement_page.community_section.community.latitude %>,<%= @excitement_page.community_section.community.longitude %>),
          zoom: 6
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        var infowindow = new google.maps.InfoWindow({
            content: "<%= @excitement_page.community_section.community.name %>"
        });
        var marker = new google.maps.Marker({
              position: new google.maps.LatLng(<%= @excitement_page.community_section.community.latitude %>,<%= @excitement_page.community_section.community.longitude %>),
              map: map,
              title: "<%= @excitement_page.community_section.community.name %>"
          });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
      }
      // google.maps.event.addDomListener(window, 'load', initialize);
    });

      // google.maps.event.addDomListener(window, 'load', initialize);

        function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=<%= ENV['GMAPS_API_KEY'] %>&' +
              'callback=initialize';
          document.body.appendChild(script);
        }

        window.onload = loadScript;
    </script>
<% end %>
