<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @excitement_page.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @excitement_page.text %>
</p>

<p>
  <strong>Testimonial text:</strong>
  <%= @excitement_page.testimonial_text %>
</p>

<p>
  <strong>Testimonial image:</strong>
<%= image_tag show_image_excitement_page_url(@excitement_page) ,:size => '260x180'%>
<p>
<%= link_to 'Edit', edit_excitement_page_path(@excitement_page), { :class => "btn btn-default" } %> |
<%= link_to 'Back', excitement_pages_path, { :class => "btn btn-default" } %>
