<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<h1><%= @excitement_page.title %></h1>
<p><%= @excitement_page.intro_text %></p>
<hr>

<div id="community">
    <h2>Where we helped <%= @excitement_page.community_section.community.name %> </h2>
    <section class="community-map">
        <p>Map goes here</p>
    </section>    
    <section class="community-photo">
        <%= image_tag show_image_photo_url(@excitement_page.community_section.photo) ,:size => '260x180'%>
    </section>    
    <p class="community-text"><%= @excitement_page.community_section.community_text%> </p>
    </div> 
<hr>

<div id="testimonials">
    <h2>Who you helped</h2>
    <section class="testimonial-photo">        
        <%= image_tag show_image_photo_url(@excitement_page.testimonial.photo) ,:size => '260x180'%>
        <p><%= @excitement_page.testimonial.photo_caption %></p>
    </section>
    <section class="testimonial-text">
        <p><%= @excitement_page.testimonial.text_block %></p>
        <span>- <%= @excitement_page.testimonial.speaker_name %>,</span>
        <p><%= @excitement_page.testimonial.speaker_role %></p>
    </section>
</div> 
<hr>

<h2>Books you helped us send</h2>
<% if @excitement_page.books %>
  <ul>
    <% @excitement_page.books.each do |book| %>
      <li>
        <%= book.name %>
        <%= image_tag show_image_photo_url(book.photo) ,:size => '260x180' if book.photo %>
      </li>
    <% end %>
  </ul>
<% end %>
<hr>

<h2><%= @excitement_page.summary_text %></h2>
<a href="https://www.indigenousliteracyfoundation.org.au/payment/donate">
    <p class="donate">DONATE</p>
</a>
<br>
<br>

<%= link_to 'Edit', edit_excitement_page_path(@excitement_page), { :class => "btn btn-default" } %> |
<%= link_to 'Back', excitement_pages_path, { :class => "btn btn-default" } %>
