<div id="donations">
	Donations So Far This Year <%= @donations_ytd %><br/>
	Donations This Time Last Year <%= @donations_ytd_lastyear %><br/>
  
  Donations So Far This Year:
  <div class='outer'>
   <div class='inner' id="inner1"></div>
  </div>

  Donations This Time Last Year:
  <div class='outer'>
   <div class='inner' id="inner2"></div>
  </div>

</div>

<div id="demographics" style="width:100%">
  <div id="map"></div>
  <div id="communities">
    <ul>
      <% @communities.each_with_index do |community, index| %>
        <li><%= link_to community.Name, 'javascript:void(0);', :onclick=>"infoOpen('#{index}');" %> <%= community.Id %> Location: <%= community.Geolocation__c.latitude if ! community.Geolocation__c.nil? %> <%= community.Geolocation__c.longitude if ! community.Geolocation__c.nil? %> </li>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">
  var gmarkers = [];
  function initialize() {
    var mapOptions = {
      width: '400px',
      height: '300px',
      center: new google.maps.LatLng(-24.994167,134.866944),
      zoom: 4
    };
    var map = new google.maps.Map(document.getElementById("map"),
        mapOptions);
    <% @communities.each_with_index do |community, index| %>
      <% if ! community.Geolocation__c.nil? && ! community.Geolocation__c.nil? %>
      var infowindow_<%= index %> = new google.maps.InfoWindow({
          content: "<%= community.Name %>"
      });
      var marker_<%= index %> = new google.maps.Marker({
            position: new google.maps.LatLng(<%= community.Geolocation__c.latitude %>,<%= community.Geolocation__c.longitude %>),
            map: map,
            title: "<%= community.Name %>"
        });
      gmarkers["<%= index %>"] = marker_<%= index %>;
      google.maps.event.addListener(marker_<%= index %>, 'click', function() {
        infowindow_<%= index %>.open(map,marker_<%= index %>);
      });
      <% end %>
    <% end %>
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  $('#inner1')
    .css('width',25)
    .css('-moz-border-radius-topright','0')
    .css('-moz-border-radius-bottomright','0')
    .animate(
      {
        width: <%= @donations_ytd/900000 * 450 %>
      }, 
      3000, 'linear',
      function() {
          $('#inner1').animate({
            width: <%= @donations_ytd/900000 * 450 %>,
            '-moz-border-radius-bottomright':'+=25',
            '-moz-border-radius-topright':'+=25'
          },
          200,'linear',
          function() {}
        );//end inner animate
      }
    );//end animate

  function infoOpen(marker)
  {
      google.maps.event.trigger(gmarkers[marker],'click');
  }
</script>

<style type="text/css">
#inner1 {
  width: <%= @donations_ytd/900000 * 100 %>%;
}

#inner2 {
  width: <%= @donations_ytd_lastyear/900000 * 100 %>%;
}
</script>