<p id="notice" class="alert alert-success"><%= notice %></p>

<h2><%= @community_profile.community.name %></h2>

<%= image_tag show_image_photo_url(@community_profile.photo) ,:size => '260x180' if @community_profile.photo %>

<p>
  <strong>Bio:</strong>
  <%= @community_profile.bio %>
</p>

<%= link_to 'Edit', edit_community_profile_path(@community_profile), { :class => "btn btn-default" } %> |
<%= link_to 'Back to Communities Profiles', community_profiles_path, :class => "btn btn-default" %>
