
<%= form_for([@excitement_page,@community_section],:html => { :multipart => true }) do |f| %>
  <% if @community_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@community_section.errors.count, "error") %> prohibited this community_section from being saved:</h2>

      <ul>
      <% @community_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <% chosen_id = @community_section.community ? @community_section.community.id : @communities.first.id %>
    <%= f.label :community_id %><br>
    <%= f.select :community_id,options_from_collection_for_select(@communities,:id,:name,chosen_id) %>
  </div>



  <div class="field">
    <%= f.label :photo %><br>
    <%= file_field_tag :photo %>
  </div>


  <div class="field">
    <%= f.label :community_text %><br>
    <%= f.text_area :community_text %>
  </div>





  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-primary'  %>
  </div>


<% end %>






<script type="text/javascript">
  jQuery(function($) {
    var showUpload = $('#show-upload');
    var upload = $('#upload').hide();

    showUpload.click(function() {
      upload.show();
      showUpload.hide();
    })
  });
</script>