
<%= form_for([@excitement_page,@book_section],:html => { :multipart => true }) do |f| %>
  <% if @book_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_section.errors.count, "error") %> prohibited this book_section from being saved:</h2>

      <ul>
      <% @book_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo1 %><br>
    <%= file_field_tag :photo1 %>
  </div>

  <div class="field">
    <%= f.label :photo2 %><br>
    <%= file_field_tag :photo2 %>
  </div>

  <div class="field">
    <%= f.label :photo3 %><br>
    <%= file_field_tag :photo3 %>
  </div>

  <div class="field">
    <%= f.label :photo4 %><br>
    <%= file_field_tag :photo4 %>
  </div>    

  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-primary'  %>
  </div>


<% end %>






<script type="text/javascript">
  jQuery(function($) {
    var showUpload = $('#show-upload');
    var upload = $('#upload').hide();

    showUpload.click(function() {
      upload.show();
      showUpload.hide();
    })
  });
</script>