<%= link_to 'Back', dashboard_path, { :class => "btn btn-default" } %>

<p>
  <strong>Community:</strong>
  <%= @community.Name %>
</p>

<div id="demographics" style="width:100%">

<% unless @community.Geolocation__c.latitude.nil? || @community.Geolocation__c.longitude.nil? %>
	<div id="map"></div>
	
	<script type="text/javascript">
    $(function() {
  	  function initialize() {

  	    var mapOptions = {
  	      width: '400px',
  	      height: '300px',
  	      center: new google.maps.LatLng(<%= @community.Geolocation__c.latitude %>,<%= @community.Geolocation__c.longitude %>),
  	      zoom: 6
  	    };
  	    var map = new google.maps.Map(document.getElementById("map"),
  	        mapOptions);
  	    var infowindow = new google.maps.InfoWindow({
  	        content: "<%= @community.Name %>"
  	    });
  	    var marker = new google.maps.Marker({
  	          position: new google.maps.LatLng(<%= @community.Geolocation__c.latitude %>,<%= @community.Geolocation__c.longitude %>),
  	          map: map,
  	          title: "<%= @community.Name %>"
  	      });
  	    google.maps.event.addListener(marker, 'click', function() {
  	      infowindow.open(map,marker);
  	    });
  	  }
  	  google.maps.event.addDomListener(window, 'load', initialize);
    });
	</script>
<% end %>

	<div id="communities">

		Received <%= @book_orders.length %> book orders so far
		<ul>
			<% @book_orders.each do |book_order| %>
				<li><%= book_order.Account.Name %> - <%= book_order.CloseDate %></li>
			<% end %>
		</ul>
	</div>
</div>