<%= link_to 'Back', dashboard_path, { :class => "btn btn-default" } %>

<p>
  <strong>Community:</strong>
  <%= @community.name %>
</p>

<div id="demographics" style="width:100%">

<% unless @community.latitude.nil? || @community.longitude.nil? %>
	<div id="map-canvas"></div>

	<script type="text/javascript">
    $(function() {
  	  function initialize() {

  	    var mapOptions = {
  	      width: '400px',
  	      height: '300px',
  	      center: new google.maps.LatLng(<%= @community.latitude %>,<%= @community.longitude %>),
  	      zoom: 6
  	    };
  	    var map = new google.maps.Map(document.getElementById("map-canvas"),
  	        mapOptions);
  	    var infowindow = new google.maps.InfoWindow({
  	        content: "<%= @community.name %>"
  	    });
  	    var marker = new google.maps.Marker({
  	          position: new google.maps.LatLng(<%= @community.latitude %>,<%= @community.longitude %>),
  	          map: map,
  	          title: "<%= @community.name %>"
  	      });
  	    google.maps.event.addListener(marker, 'click', function() {
  	      infowindow.open(map,marker);
  	    });
  	  }
  	  // google.maps.event.addDomListener(window, 'load', initialize);
    });

	  // google.maps.event.addDomListener(window, 'load', initialize);

		function loadScript() {
		  var script = document.createElement('script');
		  script.type = 'text/javascript';
		  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=<%= ENV['GMAPS_API_KEY'] %>&' +
		      'callback=initialize';
		  document.body.appendChild(script);
		}

		window.onload = loadScript;
	</script>
<% end %>

	<div id="communities">

		Received <%= @book_orders.length %> book orders so far
		<ul>
			<% @book_orders.each do |book_order| %>
				<li><%= book_order.Account.Name %> - <%= book_order.CloseDate %></li>
			<% end %>
		</ul>
	</div>
</div>