<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>IndigenousLiteracyFoundation</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GMAPS_API_KEY'] %>&sensor=false"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <div id="wrapper">
    <div class="wrapper-holder">
      <%= render :partial => 'layouts/header' %>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render :partial => 'layouts/footer' %>

</body>
</html>
